body {
	margin: 0 !important;
	width: 100vw;
	height: 100vh;
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
  background-color: #f9fafc;
}

#bs-example-navbar-collapse-1{
	background-color: #ffffff;
	border-bottom: none;	
	height: 70px !important;
}
.collapse{
	height: 70px;
}
.navbar-collapse{
	border-color: #ffffff;
	height: 70px;
}

.caret:after{
	content: ' ';
	width:15px;
}

@media(min-width: 1600px){
.container{
	width: 1381px;
}
}
.navbar{
	border: 0px;
}
@media(max-width: 768px){
	#tagbar{
		width:100vw;
	}

	.dropdown-toggle{
		margin-left: 30px;
	}
	.ikonka{
		padding: 2px;
		width:20px;
	}
	#pas-wyszuk{
	width: 100vw;
	background-color: #f9fafc;
}
	#xs-iconset{
		padding: 7px;
	}
	#status-czeka{
		text-align: center;
	}
	#status-niedostepny{
		text-align: center;
	}
p{
  font-size:15px !important;
  padding:20px !important;
}
.single-reservation{
  font-size:12px !important;
}
}
p{
  text-align: center;
  text-transform: uppercase;
  font-size: 27px;
  font-family: "Open Sans", sans-serif;
  padding: 70px;
  color: #636363;
}
.single-reservation{
  border: 1px solid #e8edf2;
  border-radius: 4px;
  height:60px;
  font-size:13px;
  font-weight: 600;
  color: #4a4a4a;
  font-family: "OpenSans-SemiBold", sans-serif;
  overflow: hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}
.navbar{
	height:70px;
}
.clock{
  padding:15px;
}
.container{
	height: 70px;
}
.eye-img{
  position: absolute;
  right: 10px;
  top: 23px;
}
.meet-date{
  height: 18px;
  float: left;
  font-size:11px;
  font-family: "OpenSans", sans-serif;
  color: #9b9b9b;
}
.reservation{
  margin-bottom: 20px;
}
#tagbar{
	height: 50px; 
	text-transform: uppercase;
	background-image: linear-gradient(180deg, #f9f9f9 0%, #f2f2f2 100%);
	border: 1px solid #e6e6e6; 
	padding: 15px;
	font-family: "HelveticaNeue-Medium";
	font-weight: 500;
}
#lewy-nav{
	position: relative;
	top: 10px;
	font-family: "HelveticaNeue-Bold";
	font-weight: 700;
	font-size: 13px;
	padding-right: 20px;
	margin-left: 20px;

}
#prawy-nav{
	position: relative;
	top: 10px;
	font-family:"HelveticaNeue" ;
	font-size: 13px;

}
.navbar-default{
	background-color: #ffffff;
	margin-bottom:0; 
}
#dolny{
	background-color: #f9fafc;
}

.ikonka{
	padding:3px;
}
.active>a{
	border-bottom: 2px solid #ff3366;
	background-color: #ffffff !important;
	height:60px;
}
#lista{
	padding: 5px;
}
@media(max-width:991px)
{
	body{
		padding: 10px;
	}
}

.single-reservation{
  position: relative;
}

.meet-date{
  position: absolute;
  top: 40px;
  left: 73px;
}
