body{
  background-color: #f9fafc;
}



.title-roow{
  text-align: center;
  height: 66px !important;
  font-family: "MerriweatherSans-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #1e1e1e;
}
.btn-default{
  width:80vw;
  height: 55px;
  border-radius: 40px;
  background-color: #ff3366;
  font-family: "MerriweatherSans-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
  outline: none;
  border:none;
}
@media(max-width: 450px){
  .btn-default{
    font-size: 16px;
  }
}
.btn-default:focus{
  outline: none;
}
.btn-group, .longbtn{
 
  width: 100% !important;
}

.longbtn{
  border: 1px solid #9e9e9e;
  background-color: #ffffff;
  text-align: left;
}
#price-container{
  background-color: #ffffff;
  text-align: center;
  width: 90%;
  margin-bottom: 20px;
  min-height: 360px;
  border-radius: 6px;
  background-color: #78c769;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
@media(max-width: 370px){
  #price-container{
    margin-bottom: 30px;
  }
}
@media(max-width: 450px)
{
  .ticpic{
    width:20px;
    margin-left: 20px;
  }
  #warnn{
    margin-top: 30px;
    width:60px;
    height: 60px;
  }

}

#emailsent{
  max-width:100%;
  height: auto;
  margin-bottom: 30px;
}
.waiting-confirmation{
	margin-top: 80px;
	margin-bottom: 20px;
}
#pay-problem{
  font-size: 20px;
  font-family: "HelveticaNeue",sans-serif;
  color: #ffffff;
  margin-top: 20px;
}
#warn{
  margin-top: 60px;
  margin-bottom: 10px;
}
#here{
  font-size: 20px;
	text-decoration: underline;
	font-family: "HelveticaNeue", sans-serif;
	color: #fff;
}
#contactsupp-row{
  margin-top: 20px;
}