body{
  background-color: #f9fafc;
}



.title-roow{
  text-align: center;
  height: 66px !important;
  font-family: "MerriweatherSans-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #1e1e1e;
}
.btn-default{
  width:80vw;
  height: 55px;
  border-radius: 40px;
  background-color: #ff3366;
  font-family: "MerriweatherSans-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
  outline: none;
  border:none;
}
@media(max-width: 450px){
  .btn-default{
    font-size: 16px;
  }
}
.bbialy{
	margin-top: 100px;
  background-color: #ffffff;
  border-color: #ff3366;
  color: #ff3366; 
  border: 1px solid;
  font-weight: 500;
  font-family: "HelveticaNeue-Mediu",sans-serif;

}

.btn-default:focus{
  outline: none;
}
.btn-group, .longbtn{
 
  width: 100% !important;
}

.longbtn{
  border: 1px solid #9e9e9e;
  background-color: #ffffff;
  text-align: left;
}
#price-container{
  background-color: #ffffff;
  text-align: center;
  width: 90%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#price-title{
  margin-top: 15px;
  margin-bottom: 20px;
  color: #585858;
  font-family: "HelveticaNeue", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}
#current-price{
  font-size: 60px;
  color: #23cf5f;
  margin-bottom: 5px;
  font-family: "HelveticaNeue", sans-serif;
}
#old-price{
  color: #9b9b9b;
  opacity: 0.6;
  font-family: "HelveticaNeue", sans-serif;
 
  font-size:28px;
  margin-bottom: 20px;
}

.payingpros{
  color: #4a4a4a;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 20px;
  text-align: left;
  margin-bottom: 20px;
}
.ticpic{
  width:40px;
}
@media(max-width: 450px)
{
  .ticpic{
    width:20px;
    margin-left: 20px;
  }

}

.FAQ{
  padding-top: 5px;
  padding-left: 0;
  padding-bottom: 5px;
  margin-left: 0px;
  margin-right: 10px;
  border-top: 1px solid #ccd3da;
  border-bottom: 1px solid #ccd3da;
  color: #4a4a4a;
  font-family: "HelveticaNeue", sans-serif;
  font-size: 25px;
  text-transform: uppercase;
}
.faq-paragraph-title{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 33px;
  color:#1e1e1e;
  font-family: "HelveticaNeue-Bold", sans-serif;
  font-weight: 700
}
.faq-paragraph{
  color:#4a4a4a;
  font-family: "HelveticaNeue",sans-serif;
  font-size: 18px;
  text-align: center;



}
#separator{
  text-align: center;
  height:20px;
  margin-left: auto;
  margin-right: auto;
    border-bottom: 1px solid #ccd3da;
  border-spacing: 10px;
  width:90%;
}


.waiting-confirmation{
	margin-top: 40px;
	margin-bottom: 20px;
}
#sth-wrong{
	margin-bottom: 10px;
	margin-top: 20px;
	color: #9b9b9b;
	font-family: "HelveticaNeue",sans-serif;

}
#here{
	text-decoration: underline;
	font-family: "HelveticaNeue", sans-serif;
	color: #0076d9;
}
/********** looooooooooooader*****************/
  .lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-spinner div {
  transform-origin: 32px 32px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 2px;
  height: 18px;
  border-radius: 20%;
  background: #000;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
